<article class="job-post">
      <div>
      <h2 class="title"> Job Title: <a href="/job/{{id}}" class="title">{{title}}</a>
      </h2> 
       <div> 
        <h5> Must have {{skill.skill_name}} skill </h5>
       <h5> In the {{skill.skill_type}} field </h5> 
       <h6> Job Details: {{information}} </h6>
       <p> Pay is: {{rate_of_pay}} </p>
        </div>
      </div>
    </article>
