
{{#if loggedIn}}
<section>
  <h2>{{employer.username}}</h2>
  <h2>Your Posts</h2>
  <ol>
    {{#each employer.jobs}}
    <li class="job-post">
      <p class="title">{{this.title}}</p>
      <p>Job Details: {{this.information}}</p>
      <p>Pay is: {{this.rate_of_pay}}</p>
      <a href="/dashboard/edit/{{job.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}



<!-- ADD This When Ready <script src="/javascript/add-job.js"></script>-->

