<ol class="jobs-list">
  {{#each job}}
  <li>
    <article class="job-post">
      <div class="title">
        <span>{{post}}</span>
      </div>
      <div>
        Posted by {{employer.username}} on
        {{post.created_at}}
      </div>
    </article>
  </li>
  {{/each}}
         <span>{{this.title}}</span>
      </div>
      <div>
        Posted by {{employer.username}} on {{this.created_at}}
       </div>
    </article>
  </li>
   {{/each}}
</ol>