
<ol class="list">
  <li>
  {{#each user as |user|}}
  <h3 class="profileName">{{username}}</h3>
  <p> Has {{skill.skill_name}} skills {{skill.skill_type}}. Contact at: <a href="mailto:{{email}}">{{email}}</a></p>
   {{/each}}
   </li>
</ol>
